body{
    background-color: #121C59;
}
h1{
    text-align: center;
    color: red;
}
.form{
    margin-top: 20%;
    width: 400px;
    height: 200px;
    border: 2px solid red;
    margin-left: 35%;
    box-shadow:5px 5px 20px 5px #bacaff;
}
.frm{
    text-align:center;
    margin-top:60px;
}
#inp{
width: 300px;
background:rgb(14, 14, 27);
color: red;
}
#sub{
    margin-top: 20px;
    background: red;
    border: 1px solid rgb(252, 42, 42);
    font-size: 15px;
    border-radius: 3px;

}